.screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	transition: margin 0.5s ease-out;

	&.up {
		margin-top: -100vh;
	}

	&__headline {
		margin-bottom: 20px;

		font-size: 64px;
	}

	&__subheading {
		margin-bottom: 50px;

		color: $accentLight;
	}

	&__start {
		padding: 10px 30px;

		font-size: 24px;

		background: none;
		border-radius: 5px;

		transition: 0.5s;
	}

	&__board {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 500px;
		height: 500px;
		overflow: hidden;

		background: none;
		border-radius: 30px;

		transition: 0.5s;
	}

	&__title {
		margin-bottom: 30px;

		font-size: 24px;
	}

	&__timer {
		color: $secondary;
	}
}

.time {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
		padding: 0;

		list-style: none;
	}

	&__item {
		display: flex;

		color: $white;

		border: 2px solid $almostWhite;
		border-radius: 5px;

		transition: 0.2s;

		&:not(:last-child):hover {
			color: $secondary;

			border: 2px solid $accentLight;
		}
	}

	&__btn {
		padding: 0.5rem 1rem;

		font-size: 1.5rem;
		font-family: inherit;

		background-color: transparent;
		border-radius: 5px;

		cursor: pointer;

		&:hover {
			color: $accent;

			transition: 0.1s;
		}
	}

	&__field {
		display: flex;
		padding: 0.5rem 1rem;

		color: $white;
		font-size: 1.5rem;
		font-family: inherit;

		background-color: transparent;
		border: none;
		border-radius: 5px 0 0 5px;

		cursor: pointer;

		&:focus {
			outline: none;
		}

		&::placeholder {
			font-size: 22px;
		}

		&-btn {
			position: relative;

			width: 30px;

			background: $almostWhite;
			border-radius: 0 2px 2px 0;

			transition: 0.2s;

			&:before {
				position: absolute;
				top: 50%;
				left: 30%;

				width: 10px;
				height: 2px;

				background: #fff;
				border-radius: 2px;

				content: '';
			}

			&:after {
				position: absolute;
				top: 50%;
				left: 30%;

				width: 10px;
				height: 2px;

				background: #fff;
				border-radius: 2px;
				transform: rotate(90deg);

				content: '';
			}

			&:hover {
				background: $secondary;
				&:before,
				&:after {
					background: $white;
				}
			}
		}
	}
}

.hide {
	visibility: hidden;
	opacity: 0;

	pointer-events: none;
}

.primary {
	color: $secondary;
}

.circle {
	position: absolute;

	background: $secondaryLight;
	border-radius: 50%;

	cursor: pointer;

	transition: 0.5s;
}

.warn {
	color: $accent;
}

.game-over {
	position: absolute;

	display: flex;
	flex-direction: column;

	&__message {
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;

		color: $accentLight;
		font-size: 24px;

		& > span {
			margin-bottom: 5px;

			color: $accent;
			font-size: 28px;
		}

		& p {
			&:not(:last-child) {
				margin-bottom: 15px;
			}

			& > span {
				color: $secondary;
			}
		}
	}

	&__restart {
		margin-top: 300px;
		padding: 10px 30px;

		font-size: 24px;

		background: none;
		border-radius: 5px;

		transition: 0.5s;
	}
}
